pipeline/daily_warlog_update.json
{
	"name": "daily_warlog_update",
	"properties": {
		"activities": [
			{
				"name": "fetch from coc api",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "dailyWars_dataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dailyWars_dataSink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Execute vm start-stop pipeline",
				"description": "start vm",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "vm_start_stop",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"SubscriptionId": "cdeaf6c7-1fea-4d82-ad58-0b5a97a59742",
						"ResourceGroupName": "P5_COC",
						"Region": "WestEurope",
						"VmName": "shir-vm"
					}
				}
			},
			{
				"name": "Wait1",
				"description": "5 min for the shir in vm to connect",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Execute vm start-stop pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 300
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "clean the date time string - warEndTimeObject2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('daily war sink lookup').output.value[0].state, 'warEnded')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Execute vm start-stop pipeline2_copy1",
							"description": "stop vm",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "fetch clan members data_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "vm_start_stop",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "dailyWar bronze to gold_copy1",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "clan mem data bronze to silver_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Shared/p5-dailyWar-bronze-to-gold"
							},
							"linkedServiceName": {
								"referenceName": "p5_coc_databrick_ls",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "rename and bronze to silver_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "fetch from coc api_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "dailyWars_dataSink",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dailyWarlog_silver_dataSink",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "fetch clan members data_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "rename and bronze to silver_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "clan_mem_dataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dailywar_clanmembers_datasink",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "clan mem data bronze to silver_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "fetch clan members data_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "dailywar_clanmembers_datasink",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dailywar_clanmember_bronz_to_dailywar_silver",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "fetch from coc api_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Wait1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "dailyWars_dataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dailyWars_dataSink",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Execute vm start-stop pipeline_copy1",
							"description": "start vm",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "wait till the war ends",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "vm_start_stop",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SubscriptionId": "cdeaf6c7-1fea-4d82-ad58-0b5a97a59742",
									"ResourceGroupName": "P5_COC",
									"Region": "WestEurope",
									"VmName": "shir-vm"
								}
							}
						},
						{
							"name": "Wait1_copy1",
							"description": "5 min for the shir in vm to connect",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Execute vm start-stop pipeline_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 300
							}
						},
						{
							"name": "wait till the war ends",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Execute vm start-stop pipeline2_copy1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@div(sub(ticks(variables('endTimeObject2')),ticks(utcNow())), 10000000)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute vm start-stop pipeline2_copy1_copy1",
							"description": "stop vm",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "vm_start_stop",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute vm start-stop pipeline2",
							"description": "stop vm",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "fetch clan members data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "vm_start_stop",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "dailyWar bronze to gold",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "clan mem data bronze to silver",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Shared/p5-dailyWar-bronze-to-gold"
							},
							"linkedServiceName": {
								"referenceName": "p5_coc_databrick_ls",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "rename and bronze to silver",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "dailyWars_dataSink",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dailyWarlog_silver_dataSink",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "fetch clan members data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "rename and bronze to silver",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "clan_mem_dataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dailywar_clanmembers_datasink",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "clan mem data bronze to silver",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "fetch clan members data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "dailywar_clanmembers_datasink",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dailywar_clanmember_bronz_to_dailywar_silver",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "daily war sink lookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "fetch from coc api",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dailyWars_dataSink",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "warEndTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "checkWarStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "warEndTime",
					"value": {
						"value": "@activity('daily war sink lookup').output.value[0].endTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "convert to date time - warEndTimeObject1",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "warEndTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "endTimeObject",
					"value": {
						"value": "@{concat(substring(variables('warEndTime'), 0, 4), '-', \n    substring(variables('warEndTime'), 4, 2), '-', \n    substring(variables('warEndTime'), 6, 2), 'T', \n    substring(variables('warEndTime'), 9, 2), ':', \n    substring(variables('warEndTime'), 11, 2), ':', \n    substring(variables('warEndTime'), 13, 2), '.', \n    substring(variables('warEndTime'), 16, 3), 'Z')}\n\n\n\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "clean the date time string - warEndTimeObject2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "convert to date time - warEndTimeObject1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "endTimeObject2",
					"value": {
						"value": "@substring(variables('endTimeObject'), 0, add(indexOf(variables('endTimeObject'), 'Z'), 1))\n\n\n\n\n\n\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "checkWarStart",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "daily war sink lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(activity('daily war sink lookup').output.value[0].state, 'warNotStarted'), equals(activity('daily war sink lookup').output.value[0].state, 'notInWar'))\n\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait2",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "War Not Started",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "War not Started. Pipeline Stopped",
								"errorCode": {
									"value": "@activity('daily war sink lookup').output.value[0].state",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"warState": {
				"type": "String"
			},
			"warEndTime": {
				"type": "String"
			},
			"endTimeObject": {
				"type": "String"
			},
			"endTimeObject2": {
				"type": "String"
			}
		},
		"annotations": []
	}
}