pipeline/test_dailywars.json
{
	"name": "test_dailywars",
	"properties": {
		"activities": [
			{
				"name": "test daily wars",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "bronze/dailyWar_raw/dailyWar_raw.json"
					},
					{
						"name": "Destination",
						"value": "dailywar-silver/warNotEnded/@{concat(formatDateTime(utcNow(), 'dd-MM-yyyy'),'.parquet')}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "dailyWars_dataSink",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "war_notEnded_json",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "clean the date time string - warEndTimeObject2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('daily war sink lookup').output.value[0].state, 'warEnded')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "condition Not Satisfied",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@div(sub(ticks(utcNow()),ticks(variables('endTimeObject2'))), 10000000)",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "condition Satisfied",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					]
				}
			},
			{
				"name": "daily war sink lookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "test daily wars",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "war_notEnded_json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "convert to date time - warEndTimeObject1",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "warEndTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "endTimeObject",
					"value": {
						"value": "@{concat(substring(variables('warEndTime'), 0, 4), '-', \n    substring(variables('warEndTime'), 4, 2), '-', \n    substring(variables('warEndTime'), 6, 2), 'T', \n    substring(variables('warEndTime'), 9, 2), ':', \n    substring(variables('warEndTime'), 11, 2), ':', \n    substring(variables('warEndTime'), 13, 2), '.', \n    substring(variables('warEndTime'), 16, 3), 'Z')}\n\n\n\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "warEndTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "daily war sink lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "warEndTime",
					"value": {
						"value": "@activity('daily war sink lookup').output.value[0].endTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "clean the date time string - warEndTimeObject2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "convert to date time - warEndTimeObject1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "endTimeObject2",
					"value": {
						"value": "@substring(variables('endTimeObject'), 0, add(indexOf(variables('endTimeObject'), 'Z'), 1))\n\n\n\n\n\n\n\n",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"warEndTime": {
				"type": "String"
			},
			"endTimeObject": {
				"type": "String"
			},
			"endTimeObject2": {
				"type": "String"
			}
		},
		"annotations": []
	}
}