p5-adf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "p5-adf"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"p5_coc_databrick_ls_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'p5_coc_databrick_ls'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://p5datalake.dfs.core.windows.net/"
		},
		"clan_mem_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.clashofclans.com/v1/clans/%232LRYP09Q/members"
		},
		"coc_api_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.clashofclans.com/v1/clans/%232LRYP09Q/capitalraidseasons"
		},
		"dailyWars_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.clashofclans.com/v1/clans/%232LRYP09Q/currentwar"
		},
		"p5_coc_databrick_ls_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0404-102052-2q1qt7jj"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/daily_warlog')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "fetch from coc api",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "dailyWars_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dailyWars_dataSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Execute vm start-stop pipeline",
						"description": "start vm",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "vm_start_stop",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SubscriptionId": "cdeaf6c7-1fea-4d82-ad58-0b5a97a59742",
								"ResourceGroupName": "P5_COC",
								"Region": "WestEurope",
								"VmName": "shir-vm"
							}
						}
					},
					{
						"name": "Wait1",
						"description": "5 min for the shir in vm to connect",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Execute vm start-stop pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 300
						}
					},
					{
						"name": "Execute vm start-stop pipeline2",
						"description": "stop vm",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "fetch clan members data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "vm_start_stop",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "dailyWar bronze to gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "clan mem data bronze to silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/p5-dailyWar-bronze-to-gold"
						},
						"linkedServiceName": {
							"referenceName": "p5_coc_databrick_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "rename and bronze to silver",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "fetch from coc api",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "dailyWars_dataSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dailyWarlog_silver_dataSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "fetch clan members data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "rename and bronze to silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "clan_mem_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dailywar_clanmembers_datasink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "clan mem data bronze to silver",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "fetch clan members data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "dailywar_clanmembers_datasink",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dailywar_clanmember_bronz_to_dailywar_silver",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dailyWars_dataset')]",
				"[concat(variables('factoryId'), '/datasets/dailyWars_dataSink')]",
				"[concat(variables('factoryId'), '/pipelines/vm_start_stop')]",
				"[concat(variables('factoryId'), '/linkedServices/p5_coc_databrick_ls')]",
				"[concat(variables('factoryId'), '/datasets/dailyWarlog_silver_dataSink')]",
				"[concat(variables('factoryId'), '/datasets/clan_mem_dataset')]",
				"[concat(variables('factoryId'), '/datasets/dailywar_clanmembers_datasink')]",
				"[concat(variables('factoryId'), '/datasets/dailywar_clanmember_bronz_to_dailywar_silver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/daily_warlog_update')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "fetch from coc api",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "dailyWars_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dailyWars_dataSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Execute vm start-stop pipeline",
						"description": "start vm",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "vm_start_stop",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SubscriptionId": "cdeaf6c7-1fea-4d82-ad58-0b5a97a59742",
								"ResourceGroupName": "P5_COC",
								"Region": "WestEurope",
								"VmName": "shir-vm"
							}
						}
					},
					{
						"name": "Wait1",
						"description": "6 min for the shir in vm to connect",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Execute vm start-stop pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 360
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "clean the date time string - warEndTimeObject2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('daily war sink lookup').output.value[0].state, 'warEnded')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Execute vm start-stop pipeline2_copy1",
									"description": "stop vm",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "fetch clan members data_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "vm_start_stop",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "dailyWar bronze to gold_copy1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "clan mem data bronze to silver_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Shared/p5-dailyWar-bronze-to-gold"
									},
									"linkedServiceName": {
										"referenceName": "p5_coc_databrick_ls",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "rename and bronze to silver_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "fetch from coc api_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "dailyWars_dataSink",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "dailyWarlog_silver_dataSink",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "fetch clan members data_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "rename and bronze to silver_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "clan_mem_dataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "dailywar_clanmembers_datasink",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "clan mem data bronze to silver_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "fetch clan members data_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "dailywar_clanmembers_datasink",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "dailywar_clanmember_bronz_to_dailywar_silver",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "fetch from coc api_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Wait1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "dailyWars_dataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "dailyWars_dataSink",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Execute vm start-stop pipeline_copy1",
									"description": "start vm",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "wait till the war ends",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "vm_start_stop",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SubscriptionId": "cdeaf6c7-1fea-4d82-ad58-0b5a97a59742",
											"ResourceGroupName": "P5_COC",
											"Region": "WestEurope",
											"VmName": "shir-vm"
										}
									}
								},
								{
									"name": "Wait1_copy1",
									"description": "5 min for the shir in vm to connect",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "Execute vm start-stop pipeline_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 300
									}
								},
								{
									"name": "wait till the war ends",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "Execute vm start-stop pipeline2_copy1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": {
											"value": "@div(sub(ticks(variables('endTimeObject2')),ticks(utcNow())), 10000000)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Execute vm start-stop pipeline2_copy1_copy1",
									"description": "stop vm",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "vm_start_stop",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Execute vm start-stop pipeline2",
									"description": "stop vm",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "fetch clan members data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "vm_start_stop",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "dailyWar bronze to gold",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "clan mem data bronze to silver",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Shared/p5-dailyWar-bronze-to-gold"
									},
									"linkedServiceName": {
										"referenceName": "p5_coc_databrick_ls",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "rename and bronze to silver",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "dailyWars_dataSink",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "dailyWarlog_silver_dataSink",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "fetch clan members data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "rename and bronze to silver",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "clan_mem_dataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "dailywar_clanmembers_datasink",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "clan mem data bronze to silver",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "fetch clan members data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "dailywar_clanmembers_datasink",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "dailywar_clanmember_bronz_to_dailywar_silver",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "daily war sink lookup",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "fetch from coc api",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "dailyWars_dataSink",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "warEndTime",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "checkWarStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "warEndTime",
							"value": {
								"value": "@activity('daily war sink lookup').output.value[0].endTime",
								"type": "Expression"
							}
						}
					},
					{
						"name": "convert to date time - warEndTimeObject1",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "warEndTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "endTimeObject",
							"value": {
								"value": "@{concat(substring(variables('warEndTime'), 0, 4), '-', \n    substring(variables('warEndTime'), 4, 2), '-', \n    substring(variables('warEndTime'), 6, 2), 'T', \n    substring(variables('warEndTime'), 9, 2), ':', \n    substring(variables('warEndTime'), 11, 2), ':', \n    substring(variables('warEndTime'), 13, 2), '.', \n    substring(variables('warEndTime'), 16, 3), 'Z')}\n\n\n\n\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "clean the date time string - warEndTimeObject2",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "convert to date time - warEndTimeObject1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "endTimeObject2",
							"value": {
								"value": "@substring(variables('endTimeObject'), 0, add(indexOf(variables('endTimeObject'), 'Z'), 1))\n\n\n\n\n\n\n\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "checkWarStart",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "daily war sink lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(equals(activity('daily war sink lookup').output.value[0].state, 'warNotStarted'), equals(activity('daily war sink lookup').output.value[0].state, 'notInWar'))\n\n",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Wait2",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "War Not Started",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "War not Started. Pipeline Stopped",
										"errorCode": {
											"value": "@activity('daily war sink lookup').output.value[0].state",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"warState": {
						"type": "String"
					},
					"warEndTime": {
						"type": "String"
					},
					"endTimeObject": {
						"type": "String"
					},
					"endTimeObject2": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dailyWars_dataset')]",
				"[concat(variables('factoryId'), '/datasets/dailyWars_dataSink')]",
				"[concat(variables('factoryId'), '/pipelines/vm_start_stop')]",
				"[concat(variables('factoryId'), '/linkedServices/p5_coc_databrick_ls')]",
				"[concat(variables('factoryId'), '/datasets/dailyWarlog_silver_dataSink')]",
				"[concat(variables('factoryId'), '/datasets/clan_mem_dataset')]",
				"[concat(variables('factoryId'), '/datasets/dailywar_clanmembers_datasink')]",
				"[concat(variables('factoryId'), '/datasets/dailywar_clanmember_bronz_to_dailywar_silver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/p5-coc-capital-wars')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "fetch capital war data from coc api",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "coc_api",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Json1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "capital data bronze to silver",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "fetch capital war data from coc api",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Json1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Json2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Execute vm start-stop pipeline",
						"description": "start vm",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "vm_start_stop",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SubscriptionId": "cdeaf6c7-1fea-4d82-ad58-0b5a97a59742",
								"ResourceGroupName": "P5_COC",
								"Region": "WestEurope",
								"VmName": "shir-vm"
							}
						}
					},
					{
						"name": "Execute vm start-stop pipeline2",
						"description": "stop vm",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "fetch clan members data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "vm_start_stop",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Wait1",
						"description": "8 min for the shir in vm to connect",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Execute vm start-stop pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 480
						}
					},
					{
						"name": "bronze to gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "clan mem data bronze to silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/p5-bronze_to_gold"
						},
						"linkedServiceName": {
							"referenceName": "p5_coc_databrick_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "fetch clan members data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "capital data bronze to silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "clan_mem_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "clan_members_dataSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "clan mem data bronze to silver",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "fetch clan members data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "clan_members_dataSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "clan_mem_bronze_to_silver_dataSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-15T23:11:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/coc_api')]",
				"[concat(variables('factoryId'), '/datasets/Json1')]",
				"[concat(variables('factoryId'), '/datasets/Json2')]",
				"[concat(variables('factoryId'), '/pipelines/vm_start_stop')]",
				"[concat(variables('factoryId'), '/linkedServices/p5_coc_databrick_ls')]",
				"[concat(variables('factoryId'), '/datasets/clan_mem_dataset')]",
				"[concat(variables('factoryId'), '/datasets/clan_members_dataSink')]",
				"[concat(variables('factoryId'), '/datasets/clan_mem_bronze_to_silver_dataSink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_dailywars')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "test daily wars",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "bronze/dailyWar_raw/dailyWar_raw.json"
							},
							{
								"name": "Destination",
								"value": "dailywar-silver/warNotEnded/@{concat(formatDateTime(utcNow(), 'dd-MM-yyyy'),'.parquet')}"
							}
						],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "dailyWars_dataSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "war_notEnded_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "clean the date time string - warEndTimeObject2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('daily war sink lookup').output.value[0].state, 'warEnded')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "condition Not Satisfied",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": {
											"value": "@div(sub(ticks(utcNow()),ticks(variables('endTimeObject2'))), 10000000)",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "condition Satisfied",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 10
									}
								}
							]
						}
					},
					{
						"name": "daily war sink lookup",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "test daily wars",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "war_notEnded_json",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "convert to date time - warEndTimeObject1",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "warEndTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "endTimeObject",
							"value": {
								"value": "@{concat(substring(variables('warEndTime'), 0, 4), '-', \n    substring(variables('warEndTime'), 4, 2), '-', \n    substring(variables('warEndTime'), 6, 2), 'T', \n    substring(variables('warEndTime'), 9, 2), ':', \n    substring(variables('warEndTime'), 11, 2), ':', \n    substring(variables('warEndTime'), 13, 2), '.', \n    substring(variables('warEndTime'), 16, 3), 'Z')}\n\n\n\n\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "warEndTime",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "daily war sink lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "warEndTime",
							"value": {
								"value": "@activity('daily war sink lookup').output.value[0].endTime",
								"type": "Expression"
							}
						}
					},
					{
						"name": "clean the date time string - warEndTimeObject2",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "convert to date time - warEndTimeObject1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "endTimeObject2",
							"value": {
								"value": "@substring(variables('endTimeObject'), 0, add(indexOf(variables('endTimeObject'), 'Z'), 1))\n\n\n\n\n\n\n\n",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"warEndTime": {
						"type": "String"
					},
					"endTimeObject": {
						"type": "String"
					},
					"endTimeObject2": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dailyWars_dataSink')]",
				"[concat(variables('factoryId'), '/datasets/war_notEnded_json')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_databricks')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "clan mem data bronze to silver",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "clan_members_dataSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "clan_mem_bronze_to_silver_dataSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/clan_members_dataSink')]",
				"[concat(variables('factoryId'), '/datasets/clan_mem_bronze_to_silver_dataSink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/vm_start_stop')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get vm status",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/cdeaf6c7-1fea-4d82-ad58-0b5a97a59742/resourceGroups/P5_COC/providers/Microsoft.Compute/virtualMachines/shir-vm/instanceView?api-version=2023-09-01",
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com/"
							}
						}
					},
					{
						"name": "start or stop vm",
						"description": "If Off, Starts the VM\nIF On, Stops the VM",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "get vm status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('get vm status').output.statuses[1].displayStatus,'VM deallocated')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "stop and deallocate my vm",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {},
										"url": "https://management.azure.com/subscriptions/cdeaf6c7-1fea-4d82-ad58-0b5a97a59742/resourceGroups/P5_COC/providers/Microsoft.Compute/virtualMachines/shir-vm/deallocate?api-version=2023-09-01",
										"body": "/",
										"authentication": {
											"type": "MSI",
											"resource": "https://management.azure.com/"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "start my vm",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {},
										"url": "https://management.azure.com/subscriptions/cdeaf6c7-1fea-4d82-ad58-0b5a97a59742/resourceGroups/P5_COC/providers/Microsoft.Compute/virtualMachines/shir-vm/start?api-version=2023-09-01",
										"body": "/",
										"authentication": {
											"type": "MSI",
											"resource": "https://management.azure.com/"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SubscriptionId": {
						"type": "string",
						"defaultValue": "cdeaf6c7-1fea-4d82-ad58-0b5a97a59742"
					},
					"ResourceGroupName": {
						"type": "string",
						"defaultValue": "P5_COC"
					},
					"Region": {
						"type": "string",
						"defaultValue": "WestEurope"
					},
					"VmName": {
						"type": "string",
						"defaultValue": "shir-vm"
					},
					"Command": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-11T23:24:26Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "raw.json",
						"fileSystem": "bronze"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(formatDateTime(utcNow(), 'dd-MM-yyyy'),'.json')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@formatDateTime(utcNow(), 'dd-MM-yyyy')",
							"type": "Expression"
						},
						"fileSystem": "silver"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"items": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"state": {
										"type": "string"
									},
									"startTime": {
										"type": "string"
									},
									"endTime": {
										"type": "string"
									},
									"capitalTotalLoot": {
										"type": "integer"
									},
									"raidsCompleted": {
										"type": "integer"
									},
									"totalAttacks": {
										"type": "integer"
									},
									"enemyDistrictsDestroyed": {
										"type": "integer"
									},
									"offensiveReward": {
										"type": "integer"
									},
									"defensiveReward": {
										"type": "integer"
									},
									"members": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"tag": {
													"type": "string"
												},
												"name": {
													"type": "string"
												},
												"attacks": {
													"type": "integer"
												},
												"attackLimit": {
													"type": "integer"
												},
												"bonusAttackLimit": {
													"type": "integer"
												},
												"capitalResourcesLooted": {
													"type": "integer"
												}
											}
										}
									},
									"attackLog": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"defender": {
													"type": "object",
													"properties": {
														"tag": {
															"type": "string"
														},
														"name": {
															"type": "string"
														},
														"level": {
															"type": "integer"
														},
														"badgeUrls": {
															"type": "object",
															"properties": {
																"small": {
																	"type": "string"
																},
																"large": {
																	"type": "string"
																},
																"medium": {
																	"type": "string"
																}
															}
														}
													}
												},
												"attackCount": {
													"type": "integer"
												},
												"districtCount": {
													"type": "integer"
												},
												"districtsDestroyed": {
													"type": "integer"
												},
												"districts": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "integer"
															},
															"name": {
																"type": "string"
															},
															"districtHallLevel": {
																"type": "integer"
															},
															"destructionPercent": {
																"type": "integer"
															},
															"stars": {
																"type": "integer"
															},
															"attackCount": {
																"type": "integer"
															},
															"totalLooted": {
																"type": "integer"
															},
															"attacks": {
																"type": "array",
																"items": {
																	"type": "object",
																	"properties": {
																		"attacker": {
																			"type": "object",
																			"properties": {
																				"tag": {
																					"type": "string"
																				},
																				"name": {
																					"type": "string"
																				}
																			}
																		},
																		"destructionPercent": {
																			"type": "integer"
																		},
																		"stars": {
																			"type": "integer"
																		}
																	}
																}
															}
														}
													}
												}
											}
										}
									},
									"defenseLog": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"attacker": {
													"type": "object",
													"properties": {
														"tag": {
															"type": "string"
														},
														"name": {
															"type": "string"
														},
														"level": {
															"type": "integer"
														},
														"badgeUrls": {
															"type": "object",
															"properties": {
																"small": {
																	"type": "string"
																},
																"large": {
																	"type": "string"
																},
																"medium": {
																	"type": "string"
																}
															}
														}
													}
												},
												"attackCount": {
													"type": "integer"
												},
												"districtCount": {
													"type": "integer"
												},
												"districtsDestroyed": {
													"type": "integer"
												},
												"districts": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "integer"
															},
															"name": {
																"type": "string"
															},
															"districtHallLevel": {
																"type": "integer"
															},
															"destructionPercent": {
																"type": "integer"
															},
															"stars": {
																"type": "integer"
															},
															"attackCount": {
																"type": "integer"
															},
															"totalLooted": {
																"type": "integer"
															},
															"attacks": {
																"type": "array",
																"items": {
																	"type": "object",
																	"properties": {
																		"attacker": {
																			"type": "object",
																			"properties": {
																				"tag": {
																					"type": "string"
																				},
																				"name": {
																					"type": "string"
																				}
																			}
																		},
																		"destructionPercent": {
																			"type": "integer"
																		},
																		"stars": {
																			"type": "integer"
																		}
																	}
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						},
						"paging": {
							"type": "object",
							"properties": {
								"cursors": {
									"type": "object"
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/clan_mem_bronze_to_silver_dataSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(formatDateTime(utcNow(), 'dd-MM-yyyy'),'-clanMembers.json')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@formatDateTime(utcNow(), 'dd-MM-yyyy')",
							"type": "Expression"
						},
						"fileSystem": "silver"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/clan_mem_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "clan_mem_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/clan_mem_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/clan_members_dataSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "clan_members_raw.json",
						"fileSystem": "bronze"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"items": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"tag": {
										"type": "string"
									},
									"name": {
										"type": "string"
									},
									"role": {
										"type": "string"
									},
									"townHallLevel": {
										"type": "integer"
									},
									"expLevel": {
										"type": "integer"
									},
									"league": {
										"type": "object",
										"properties": {
											"id": {
												"type": "integer"
											},
											"name": {
												"type": "string"
											},
											"iconUrls": {
												"type": "object",
												"properties": {
													"small": {
														"type": "string"
													},
													"tiny": {
														"type": "string"
													},
													"medium": {
														"type": "string"
													}
												}
											}
										}
									},
									"trophies": {
										"type": "integer"
									},
									"builderBaseTrophies": {
										"type": "integer"
									},
									"clanRank": {
										"type": "integer"
									},
									"previousClanRank": {
										"type": "integer"
									},
									"donations": {
										"type": "integer"
									},
									"donationsReceived": {
										"type": "integer"
									},
									"playerHouse": {
										"type": "object",
										"properties": {
											"elements": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"type": {
															"type": "string"
														},
														"id": {
															"type": "integer"
														}
													}
												}
											}
										}
									},
									"builderBaseLeague": {
										"type": "object",
										"properties": {
											"id": {
												"type": "integer"
											},
											"name": {
												"type": "string"
											}
										}
									}
								}
							}
						},
						"paging": {
							"type": "object",
							"properties": {
								"cursors": {
									"type": "object"
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/coc_api')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "coc_api_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/coc_api_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dailyWarlog_silver_dataSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(formatDateTime(utcNow(), 'dd-MM-yyyy'),'.json')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@formatDateTime(utcNow(), 'dd-MM-yyyy')",
							"type": "Expression"
						},
						"fileSystem": "dailywar-silver"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dailyWars_dataSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "dailyWar_raw.json",
						"folderPath": "dailyWar_raw",
						"fileSystem": "bronze"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dailyWars_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dailyWars_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dailyWars_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dailywar_clanmember_bronz_to_dailywar_silver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(formatDateTime(utcNow(), 'dd-MM-yyyy'),'-clanMembers.json')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@formatDateTime(utcNow(), 'dd-MM-yyyy')",
							"type": "Expression"
						},
						"fileSystem": "dailywar-silver"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"state": {
							"type": "string"
						},
						"teamSize": {
							"type": "integer"
						},
						"attacksPerMember": {
							"type": "integer"
						},
						"preparationStartTime": {
							"type": "string"
						},
						"startTime": {
							"type": "string"
						},
						"endTime": {
							"type": "string"
						},
						"clan": {
							"type": "object",
							"properties": {
								"tag": {
									"type": "string"
								},
								"name": {
									"type": "string"
								},
								"badgeUrls": {
									"type": "object",
									"properties": {
										"small": {
											"type": "string"
										},
										"large": {
											"type": "string"
										},
										"medium": {
											"type": "string"
										}
									}
								},
								"clanLevel": {
									"type": "integer"
								},
								"attacks": {
									"type": "integer"
								},
								"stars": {
									"type": "integer"
								},
								"destructionPercentage": {
									"type": "number"
								},
								"members": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"tag": {
												"type": "string"
											},
											"name": {
												"type": "string"
											},
											"townhallLevel": {
												"type": "integer"
											},
											"mapPosition": {
												"type": "integer"
											},
											"attacks": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"attackerTag": {
															"type": "string"
														},
														"defenderTag": {
															"type": "string"
														},
														"stars": {
															"type": "integer"
														},
														"destructionPercentage": {
															"type": "integer"
														},
														"order": {
															"type": "integer"
														},
														"duration": {
															"type": "integer"
														}
													}
												}
											},
											"opponentAttacks": {
												"type": "integer"
											},
											"bestOpponentAttack": {
												"type": "object",
												"properties": {
													"attackerTag": {
														"type": "string"
													},
													"defenderTag": {
														"type": "string"
													},
													"stars": {
														"type": "integer"
													},
													"destructionPercentage": {
														"type": "integer"
													},
													"order": {
														"type": "integer"
													},
													"duration": {
														"type": "integer"
													}
												}
											}
										}
									}
								}
							}
						},
						"opponent": {
							"type": "object",
							"properties": {
								"tag": {
									"type": "string"
								},
								"name": {
									"type": "string"
								},
								"badgeUrls": {
									"type": "object",
									"properties": {
										"small": {
											"type": "string"
										},
										"large": {
											"type": "string"
										},
										"medium": {
											"type": "string"
										}
									}
								},
								"clanLevel": {
									"type": "integer"
								},
								"attacks": {
									"type": "integer"
								},
								"stars": {
									"type": "integer"
								},
								"destructionPercentage": {
									"type": "number"
								},
								"members": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"tag": {
												"type": "string"
											},
											"name": {
												"type": "string"
											},
											"townhallLevel": {
												"type": "integer"
											},
											"mapPosition": {
												"type": "integer"
											},
											"attacks": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"attackerTag": {
															"type": "string"
														},
														"defenderTag": {
															"type": "string"
														},
														"stars": {
															"type": "integer"
														},
														"destructionPercentage": {
															"type": "integer"
														},
														"order": {
															"type": "integer"
														},
														"duration": {
															"type": "integer"
														}
													}
												}
											},
											"opponentAttacks": {
												"type": "integer"
											},
											"bestOpponentAttack": {
												"type": "object",
												"properties": {
													"attackerTag": {
														"type": "string"
													},
													"defenderTag": {
														"type": "string"
													},
													"stars": {
														"type": "integer"
													},
													"destructionPercentage": {
														"type": "integer"
													},
													"order": {
														"type": "integer"
													},
													"duration": {
														"type": "integer"
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dailywar_clanmembers_datasink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "clan_members_raw.json",
						"fileSystem": "bronze"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/war_notEnded_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(formatDateTime(utcNow(), 'dd-MM-yyyy'),'.json')",
							"type": "Expression"
						},
						"folderPath": "checkWarStatus",
						"fileSystem": "dailywar-silver"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/war_not_ended_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(formatDateTime(utcNow(), 'dd-MM-yyyy'),'.parquet')",
							"type": "Expression"
						},
						"folderPath": "checkWarStatus",
						"fileSystem": "dailywar-silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/clan_mem_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "clan members data",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('clan_mem_ls_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous",
					"authHeaders": {
						"Authorization": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				},
				"connectVia": {
					"referenceName": "wag-vm-shir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/wag-vm-shir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/coc_api_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('coc_api_ls_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous",
					"authHeaders": {
						"Authorization": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				},
				"connectVia": {
					"referenceName": "wag-vm-shir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/wag-vm-shir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dailyWars_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('dailyWars_ls_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous",
					"authHeaders": {
						"Authorization": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				},
				"connectVia": {
					"referenceName": "wag-vm-shir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/wag-vm-shir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/p5_coc_databrick_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-5969410575803684.4.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('p5_coc_databrick_ls_accessToken')]"
					},
					"existingClusterId": "[parameters('p5_coc_databrick_ls_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dailywar_alternateDay_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "daily_warlog_update",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 2,
						"startTime": "2024-05-12T19:00:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								1
							],
							"hours": [
								19
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/daily_warlog_update')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/weekly_mon')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "get capital wars details",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "p5-coc-capital-wars",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2024-03-27T18:00:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								18
							],
							"weekDays": [
								"Monday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/p5-coc-capital-wars')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/wag-vm-shir')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}